frameChild {
    width: 473px;
    height: 537px;
    position: relative;
    box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
    border-radius: 30.13px;
    background-color: var(--neutral-100);
    border: 0.9px solid var(--neutral-300);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .voiceFirst {
    position: relative;
    line-height: 31px;
    display: inline-block;
    min-width: 124px;
    z-index: 1;
  }
  .voiceOptions {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .useVoiceFeature {
    position: relative;
    font-size: var(--font-size-base-5);
    line-height: 26px;
    color: var(--neutral-600);
    z-index: 1;
  }
  .voiceInputContent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .wrapperGroup1000004811Child {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    transform: scale(1.096);
  }
  .wrapperGroup1000004811 {
    height: 227px;
    flex: 1;
    position: relative;
    max-width: 100%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .manualInputContent,
  .rectangleParent {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .manualInputContent {
    align-self: stretch;
    height: 227px;
    flex-direction: row;
    padding: 0 var(--padding-32xl) 0 var(--padding-31xl);
  }
  .rectangleParent {
    flex: 0.9605;
    box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
    border-radius: 30.13px;
    background-color: var(--neutral-100);
    border: 0.9px solid var(--neutral-300);
    flex-direction: column;
    padding: var(--padding-48xl) var(--padding-58xl) var(--padding-94xl)
      var(--padding-59xl);
    gap: var(--gap-37xl);
    min-width: 307px;
    max-width: 100%;
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--neutral-800);
    font-family: var(--font-dm-sans);
  }
  @media screen and (max-width: 1225px) {
    .rectangleParent {
      flex: 1;
    }
  }
  @media screen and (max-width: 750px) {
    .rectangleParent {
      gap: var(--gap-9xl);
      padding: var(--padding-25xl) var(--padding-19xl) var(--padding-54xl)
        var(--padding-20xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .voiceFirst {
      font-size: var(--font-size-lgi);
      line-height: 24px;
    }
    .manualInputContent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }