.base,
.frameChild {
  position: relative;
  display: none;
  max-width: 100%;
}
.base {
  align-self: stretch;
  width: 1440px;
  background-color: var(--background-jnt-primary-background);
}
.frameChild {
  width: 794px;
  height: 800px;
  background-color: var(--color-gold-300);
}
.pad,
.par {
  color: var(--color-gold-100);
}
.vyaparLaunchpad {
  height: 40px;
  width: 306px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frameItem {
  width: 15.9px;
  height: 15.9px;
  position: relative;
  border-radius: 50%;
  background-color: #ffc727;
  z-index: 2;
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28.8px 0 0;
}
.vyaparLaunchpadParent {
  width: 406.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.backgroundSimpleIcon {
  width: 514.6px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.backgroundCompleteIcon {
  position: absolute;
  top: 78.5px;
  left: 26.2px;
  width: 498.2px;
  height: 179.9px;
}
.floorIcon,
.giftsIcon,
.shoppingBagIcon {
  position: absolute;
  top: 402.2px;
  left: 10.4px;
  width: 529.8px;
  height: 0.8px;
}
.giftsIcon,
.shoppingBagIcon {
  top: 227.2px;
  width: 139.9px;
  height: 175.4px;
  z-index: 1;
}
.giftsIcon {
  top: 232.7px;
  left: 407.1px;
  width: 135.1px;
  height: 169.9px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 0.22%;
  top: 4.25%;
  bottom: 95.53%;
  left: 18.85%;
  max-height: 100%;
  width: 0;
}
.vectorIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.vectorIcon2 {
  height: calc(100% - 23.1px);
  width: 86.04%;
  top: 11.4px;
  right: 6.94%;
  bottom: 11.7px;
  left: 7.02%;
  z-index: 1;
}
.groupIcon,
.groupIcon1,
.vectorIcon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon {
  height: 21.75%;
  width: 95.17%;
  top: 39.09%;
  right: 1.29%;
  bottom: 39.16%;
  left: 3.54%;
  z-index: 2;
}
.groupIcon1 {
  height: calc(100% - 23.1px);
  width: 86.04%;
  top: 11.4px;
  right: 6.94%;
  bottom: 11.7px;
  left: 7.02%;
  z-index: 3;
}
.groupIcon2,
.groupIcon3,
.groupIcon4,
.groupIcon5 {
  position: absolute;
  top: 94.3px;
  left: 261.4px;
  width: 91.9px;
  height: 118.3px;
  z-index: 4;
}
.groupIcon3,
.groupIcon4,
.groupIcon5 {
  left: 50.1px;
}
.groupIcon4,
.groupIcon5 {
  left: 155.7px;
}
.groupIcon5 {
  height: 4.89%;
  width: 73.7%;
  top: 21.93%;
  right: 13.16%;
  bottom: 73.18%;
  left: 13.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group1 {
  position: absolute;
  height: calc(100% - 0.5px);
  width: 86.4%;
  top: 0.5px;
  right: 6.79%;
  bottom: 0;
  left: 6.81%;
  z-index: 1;
}
.groupIcon6 {
  position: absolute;
  height: 16.86%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 5;
}
.group,
.saleTagIcon {
  position: absolute;
  top: 132.2px;
  left: 41.8px;
  width: 466.9px;
  height: 270.4px;
  z-index: 2;
}
.saleTagIcon {
  top: 134.4px;
  left: 0;
  width: 143.3px;
  height: 106.9px;
  z-index: 6;
}
.characterIcon,
.creditCardIcon,
.frameInner {
  position: absolute;
  top: 74.6px;
  left: 372px;
  width: 169.1px;
  height: 124.9px;
  z-index: 6;
}
.characterIcon,
.frameInner {
  top: 254.7px;
  left: 312.5px;
  width: 221.5px;
  height: 159.9px;
}
.frameInner {
  top: 0;
  left: 53.8px;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.backgroundCompleteParent {
  height: 414.6px;
  flex: 1;
  position: relative;
  max-width: calc(100% - 0px);
}
.contentContainer {
  align-self: stretch;
  height: 407.3px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 33.7px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 3;
}
.letsGetStarted {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  z-index: 2;
}
.letsGetStartedWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 89px;
  margin-top: -28.9px;
}
.contentContainerParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contentContainerParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.yourMultilingualGateway {
  width: 587px;
  position: relative;
  font-size: 23.6px;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.frameParent,
.rectangleParent {
  flex-direction: column;
  max-width: 100%;
}
.frameParent {
  width: 634px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 13.5px;
  font-size: 44.3px;
  font-family: var(--font-sora);
}
.rectangleParent {
  width: 994px;
  background-color: var(--color-gold-300);
  padding: var(--padding-7xl) 65px 169.1px;
  box-sizing: border-box;
  gap: 85.3px;
  min-width: 794px;
  z-index: 1;
  height: 100%;
}
.baseParent,
.formRegister,
.frameContainer,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  width: 454.2px;
  flex-direction: column;
  padding: var(--padding-39xl) 0 0;
  box-sizing: border-box;
  min-width: 454.2px;
  max-width: 100%;
}
.baseParent,
.formRegister {
  flex-direction: row;
}
.baseParent {
  flex: 1;
  background-color: var(--background-jnt-primary-background);
  gap: 109px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-15xl-8);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
  height: 100%;
}
.formRegister {
  width: 100%;
  position: relative;
  letter-spacing: normal;
  line-height: normal;
  height: 100%;
}
@media screen and (max-width: 1300px) {
  .frameContainer,
  .rectangleParent {
    flex: 1;
  }
  .baseParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .rectangleParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .vyaparLaunchpad {
    font-size: var(--font-size-9xl);
  }
  .letsGetStarted {
    font-size: var(--font-size-16xl);
    line-height: 43px;
  }
  .letsGetStartedWrapper {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: var(--gap-24xl);
    padding: var(--padding-xl) var(--padding-13xl) var(--padding-91xl);
    box-sizing: border-box;
  }
  .frameContainer {
    padding-top: var(--padding-19xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .baseParent {
    gap: 54px;
  }
}
@media screen and (max-width: 450px) {
  .vyaparLaunchpad {
    font-size: var(--font-size-2xl);
  }
  .letsGetStarted {
    font-size: var(--font-size-8xl);
    line-height: 32px;
  }
  .yourMultilingualGateway {
    font-size: var(--font-size-lgi);
  }
  .rectangleParent {
    gap: var(--gap-2xl);
  }
  .baseParent {
    gap: 27px;
  }
}
