.base {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-palegoldenrod-100);
    display: none;
    max-width: 100%;
  }
  .pad,
  .par {
      
    color: var(--color-gold-100);
  }
  .vyaparLaunchpad {
    
    position: absolute;
    top: 0;
    left: 0;
    line-height: 35px;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .frameChild {
    position: absolute;
    top: 24px;
    left: 129px;
    border-radius: 50%;
    background-color: var(--color-gold-100);
    width: 4.3px;
    height: 4.3px;
    z-index: 2;
  }
  .vyaparLaunchpadParent {
    height: 34px;
    width: 263px;
    position: relative;
  }
  .baseParent,
  .frameWrapper {
    display: flex;
    box-sizing: border-box;
  }
  .frameWrapper {
    width: 619px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-7xs) 0 0;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-10xl-9);
    color: var(--color-black);
    font-family: var(--font-ubuntu);
    
  }
  .baseParent {
       /* border: solid red 5px; */
    width: 100%;
    position: relative;
    background-color: var(--color-palegoldenrod-100);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-15xl) var(--padding-xl) var(--padding-109xl)
      var(--padding-2xl);
    gap: 67px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 675px) {
    .baseParent {
      gap: 33px;
    }
  }
  @media screen and (max-width: 450px) {
    .baseParent {
      gap: var(--gap-mid);
    }
  }
  