.base {
  width: 1440px;
  height: 800px;
  position: relative;
  background-color: var(--color-palegoldenrod-100);
  display: none;
  max-width: 100%;
}
.pad,
.par {
  color: var(--color-gold-100);
}
.vyaparLaunchpad {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 35px;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.shape {
  position: absolute;
  top: 24px;
  left: 129px;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  width: 4.3px;
  height: 4.3px;
  z-index: 2;
}
.layout {
  height: 34px;
  width: 263px;
  position: relative;
}
.content {
  width: 543px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frameChild,
.uploadContainer {
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  width: 619px;
  height: 588px;
  position: relative;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  display: none;
}
.uploadContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 82px var(--padding-xl) var(--padding-57xl);
}
.buttonText {
  position: relative;
  font-size: var(--font-size-base-2);
  line-height: 18px;
  font-family: var(--font-dm-sans);
  color: var(--color-goldenrod-100);
  text-align: center;
  display: inline-block;
  min-width: 101px;
}
.secondaryBtn {
  cursor: pointer;
  border: 0.9px solid var(--color-goldenrod-100);
  padding: var(--padding-base) var(--padding-15xl) var(--padding-lg)
    var(--padding-17xl);
  background-color: transparent;
  border-radius: 59.33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.secondaryBtn:hover {
  background-color: var(--color-darkgoldenrod-300);
  border: 0.9px solid var(--color-darkgoldenrod-200);
  box-sizing: border-box;
}
.buttonText1 {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 17.25px;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.actions,
.primaryBtn {
  display: flex;
  flex-direction: row;
}
.primaryBtn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-9) var(--padding-14xl) var(--padding-mid-7);
  background-color: var(--color-gold-100);
  box-shadow: 0 2.6px 10.35px rgba(74, 58, 255, 0.18);
  border-radius: 48.29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  white-space: nowrap;
  z-index: 1;
}
.primaryBtn:hover {
  background-color: var(--color-darkgoldenrod-100);
}
.actions {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangleParent,
.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangleParent {
  align-self: stretch;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  padding: var(--padding-12xl) var(--padding-23xl) var(--padding-mini)
    var(--padding-27xl);
  gap: 62px;
  max-width: 100%;
  z-index: 1;
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--color-palegoldenrod-100);
  padding: var(--padding-39xl) var(--padding-391xl) var(--padding-58xl);
  gap: var(--gap-24xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-10xl-9);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
}
@media screen and (max-width: 900px) {
  .root {
    gap: var(--gap-2xl);
    padding-left: var(--padding-186xl);
    padding-right: var(--padding-186xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .uploadContainer {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: var(--gap-12xl);
    padding: var(--padding-xl) var(--padding-2xl) var(--padding-xl)
      var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .vyaparLaunchpad {
    font-size: var(--font-size-5xl);
  }
  .actions {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: 15px;
  }
  .root {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
