.frameChild {
  width: 515px;
  height: 164px;
  position: relative;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: var(--br-lg);
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.productTitle {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.titleDivider {
  position: absolute;
  top: 22.5px;
  left: 1.3px;
  background-color: var(--color-brown);
  width: 103.8px;
  height: 1.9px;
  z-index: 2;
}
.productTitleParent {
  width: 139.5px;
  height: 24.4px;
  position: relative;
}
.span {
  font-weight: 500;
}
.buddhaRiceContainer {
  height: 76px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 103%;
  flex-shrink: 0;
  z-index: 1;
}
.frameItem {
  height: 47px;
  width: 118.1px;
  position: relative;
  border-radius: 4.59px;
  background-color: var(--background-jnt-primary-background);
  border: 1.1px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
  display: none;
}
.copy {
  position: relative;
  font-size: var(--font-size-lg-8);
  font-weight: 700;
  font-family: var(--font-lato);
  color: var(--color-gold-100);
  text-align: left;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.copyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.copybuttonIcon {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 35px;
  z-index: 1;
}
.buddhaRiceKalaNamakRiceParent,
.frameWrapper,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  cursor: pointer;
  border: 1.1px solid var(--color-ghostwhite-100);
  padding: var(--padding-9xs) var(--padding-smi);
  background-color: var(--background-jnt-primary-background);
  align-self: stretch;
  border-radius: 4.59px;
  flex-direction: row;
  gap: var(--gap-5xs);
  z-index: 2;
}
.buddhaRiceKalaNamakRiceParent,
.frameWrapper {
  box-sizing: border-box;
}
.frameWrapper {
  width: 118.1px;
  flex-direction: column;
  padding: var(--padding-33xl) 0 0;
  margin-left: -129.1px;
}
.buddhaRiceKalaNamakRiceParent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 0;
  max-width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-500);
}
.frameInner,
.rectangleParent {
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: var(--br-lg);
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-xl) var(--padding-4xs);
  gap: var(--gap-2xs-6);
}
.frameInner {
  height: 95px;
  width: 515px;
  position: relative;
  display: none;
}
.priceDivider,
.productPricing {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.productPricing {
  align-self: stretch;
  z-index: 1;
}
.priceDivider {
  height: 1.9px;
  flex: 1;
  background-color: var(--color-brown);
  z-index: 2;
}
.frameDiv,
.priceDividerWrapper,
.productPricingParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceDividerWrapper {
  width: 106.1px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -0.5px;
}
.frameDiv,
.productPricingParent {
  flex-direction: column;
}
.productPricingParent {
  align-self: stretch;
}
.frameDiv {
  width: 151px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.b {
  position: relative;
  font-size: var(--font-size-13xl);
  display: inline-block;
  color: var(--color-darkslategray-500);
  min-width: 88px;
  white-space: nowrap;
  z-index: 1;
}
.rectangleContainer,
.rectangleDiv {
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: var(--br-lg);
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-14xl) var(--padding-21xl) var(--padding-mid)
    var(--padding-11xl);
  gap: var(--gap-xl);
}
.rectangleDiv {
  width: 515px;
  height: 132px;
  position: relative;
  display: none;
}
.frameChild1,
.productTagline {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.productTagline {
  align-self: stretch;
  z-index: 1;
}
.frameChild1 {
  height: 1.9px;
  flex: 1;
  background-color: var(--color-brown);
  z-index: 2;
}
.productTaglineParent,
.rectangleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleWrapper {
  width: 106.1px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -0.5px;
}
.productTaglineParent {
  width: 151px;
  flex-direction: column;
}
.experienceTheRare {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frameChild2 {
  height: 47px;
  width: 118.1px;
  position: relative;
  border-radius: 4.59px;
  background-color: var(--background-jnt-primary-background);
  border: 1.1px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
  display: none;
}
.copy1 {
  position: relative;
  font-size: var(--font-size-lg-8);
  font-weight: 700;
  font-family: var(--font-lato);
  color: var(--color-gold-100);
  text-align: left;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.copyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.copybuttonIcon1 {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 35px;
  z-index: 1;
}
.frameWrapper2,
.groupButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupButton {
  cursor: pointer;
  border: 1.1px solid var(--color-ghostwhite-100);
  padding: var(--padding-9xs) var(--padding-smi);
  background-color: var(--background-jnt-primary-background);
  width: 118.1px;
  border-radius: 4.59px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.frameWrapper2 {
  align-self: stretch;
  justify-content: flex-end;
}
.experienceTheRareAndAuthenParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.frameWrapper1,
.rectangleParent1 {
  align-self: stretch;
  box-sizing: border-box;
}
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xs);
  max-width: 100%;
}
.rectangleParent1 {
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: var(--br-lg);
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  padding: var(--padding-sm) var(--padding-3xl) var(--padding-2xs)
    var(--padding-10xl);
  gap: var(--gap-4xs-6);
}
.frameContainer,
.frameGroup,
.rectangleParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  gap: var(--gap-7xl);
}
.frameGroup {
  width: 515px;
  gap: var(--gap-16xl);
  min-width: 515px;
}
.imagePlaceholder {
  position: absolute;
  top: 302.19px;
  left: 363.54px;
  filter: blur(124px);
  border-radius: var(--br-71xl);
  background-color: var(--color-silver-200);
  width: 105.7px;
  height: 249.1px;
  transform: rotate(80deg);
  transform-origin: 0 0;
}
.image2Icon,
.rectangleIcon {
  position: absolute;
  top: 65px;
  left: 226px;
  width: 440px;
  height: 250px;
  z-index: 1;
}
.image2Icon {
  top: 0;
  left: 0;
  border-radius: var(--br-17xl);
  width: 433px;
  height: 433px;
  object-fit: cover;
  z-index: 2;
}
.imagePlaceholderParent {
  height: 449.5px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frameParent,
.productImage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.productImage {
  flex: 1;
  align-items: flex-start;
  min-width: 433px;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-164xl);
  text-align: left;
  font-size: var(--font-size-lg-8);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1200px) {
  .frameGroup {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
    gap: var(--gap-72xl);
  }
}
@media screen and (max-width: 1050px) {
  .b,
  .buddhaRiceContainer {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    gap: var(--gap-mid);
  }
  .frameGroup,
  .productImage {
    min-width: 100%;
  }
  .frameParent {
    gap: var(--gap-27xl);
  }
}
@media screen and (max-width: 450px) {
  .b,
  .buddhaRiceContainer {
    font-size: var(--font-size-lgi);
  }
  .rectangleContainer {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-4xl);
  }
}
