.frameChild {
  height: 225px;
  width: 1280px;
  position: relative;
  background-color: var(--color-mediumslateblue-100);
  display: none;
  max-width: 100%;
}
.frameItem {
  margin-left: -124px;
  height: 264px;
  width: 88px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.card2Child {
  width: 177px;
  height: 177px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-moccasin);
  display: none;
}
.vuesaxboldtranslateWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl);
}
.icon {
  width: 148px;
  height: 148px;
  position: relative;
  object-fit: contain;
  display: none;
}
.customizedMultilingualOnboar {
  align-self: stretch;
  position: relative;
  line-height: 125%;
  background: linear-gradient(#181818, #181818), #494747;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.card2,
.cardWrapper,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card2 {
  align-self: stretch;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-moccasin);
  flex-direction: column;
  padding: var(--padding-19xl) var(--padding-15xl) var(--padding-base)
    var(--padding-16xl);
  gap: var(--gap-2xs);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.cardWrapper,
.frameParent {
  box-sizing: border-box;
}
.cardWrapper {
  width: 177px;
  flex-direction: column;
  padding: var(--padding-22xl) 0 0;
  flex-shrink: 0;
}
.frameParent {
  height: 243px;
  width: 302px;
  flex-direction: row;
  padding: 0 var(--padding-mini) var(--padding-6xl) var(--padding-91xl);
  gap: var(--gap-17xl);
}
.btnChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gold-100);
}
.seeAll {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 125%;
  font-weight: 500;
  font-family: var(--font-urbanist);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 49px;
  white-space: nowrap;
}
.arrowIcon {
  height: 100%;
  width: 19.9px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.seeAllParent {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  position: relative;
  z-index: 1;
}
.btn,
.seeAllButtonWrapper,
.seeAllParent {
  display: flex;
  align-items: flex-start;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-6xs)
    var(--padding-xl);
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}
.seeAllButtonWrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-base) var(--padding-16xl) 0;
}
.card2Item {
  width: 177px;
  height: 177px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-lightsalmon);
  display: none;
}
.vuesaxbolddiagramIcon {
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 1;
}
.vuesaxbolddiagramWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
}
.icon1 {
  width: 148px;
  height: 148px;
  position: relative;
  object-fit: contain;
  display: none;
}
.advancedSeoDescription {
  align-self: stretch;
  position: relative;
  line-height: 125%;
  background: linear-gradient(#181818, #181818), #494747;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.card21,
.sEOCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card21 {
  align-self: stretch;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-lightsalmon);
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-mid) var(--padding-base)
    var(--padding-lg);
  gap: var(--gap-smi);
  z-index: 1;
}
.sEOCard {
  width: 177px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 363px;
  width: 88px;
  height: 264px;
  object-fit: cover;
  z-index: 1;
}
.features,
.ourProducts {
  margin: 0;
}
.ourProductsFeaturesContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 109.5%;
  font-weight: 600;
  font-family: inherit;
  z-index: 4;
}
.vyaparLaunchpadHelps {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 125%;
  font-weight: 500;
  z-index: 4;
}
.ourProductsFeaturesParent {
  position: absolute;
  top: 55px;
  left: 0;
  width: 367px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameGroup {
  height: 243px;
  width: 437px;
  position: relative;
  max-width: calc(100% - 843px);
  text-align: left;
  font-size: var(--font-size-26xl);
  font-family: var(--font-urbanist);
}
.rectangleParent {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: var(--color-mediumslateblue-100);
  height: 225px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  width: 100%;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--background-jnt-primary-background);
  font-family: var(--subheading-3-medium);
}
@media screen and (max-width: 750px) {
  .ourProductsFeaturesContainer {
    font-size: var(--font-size-17xl);
    line-height: 39px;
  }
}
@media screen and (max-width: 675px) {
  .rectangleParent {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-lg);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .ourProductsFeaturesContainer {
    font-size: var(--font-size-8xl);
    line-height: 30px;
  }
  .rectangleParent {
    gap: var(--gap-xl);
  }
}
