.frameChild {
  width: 618.5px;
  height: 537px;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div,
.frameChild,
.frameItem {
  position: relative;
}
.frameItem {
  height: 29.3px;
  width: 29.3px;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.div {
  font-size: var(--font-size-sm-8);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--background-jnt-primary-background);
  text-align: left;
  display: inline-block;
  min-width: 5px;
  z-index: 2;
}
.ellipseParent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-6xs-5) 0 0;
  margin-left: -17.3px;
}
.ellipseParent {
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 0;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 34.49px;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.rectangleDiv,
.rectangleGroup {
  height: 5.2px;
  border-radius: 34.49px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gold-100);
  width: 42.3px;
  z-index: 2;
}
.rectangleGroup {
  align-self: stretch;
  position: relative;
  background-color: var(--neutral-300);
  z-index: 1;
}
.frameContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-6) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.ellipseDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div1 {
  position: absolute;
  top: 3.9px;
  left: 11.2px;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 2;
}
.ellipseGroup {
  height: 29.3px;
  width: 29.3px;
  position: relative;
}
.frameChild1 {
  align-self: stretch;
  height: 5.2px;
  position: relative;
  border-radius: 34.49px;
  background-color: var(--neutral-300);
  z-index: 1;
}
.rectangleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-6) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div2 {
  position: absolute;
  top: 3.9px;
  left: 10.3px;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.ellipseContainer {
  height: 29.3px;
  width: 29.3px;
  position: relative;
}
.frameChild3 {
  align-self: stretch;
  height: 5.2px;
  position: relative;
  border-radius: 34.49px;
  background-color: var(--neutral-300);
  z-index: 1;
}
.rectangleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-6) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.a,
.frameChild4 {
  position: absolute;
}
.frameChild4 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.a {
  text-decoration: none;
  top: 3.9px;
  left: 10.3px;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.frameDiv {
  height: 29.3px;
  width: 29.3px;
  position: relative;
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-5);
  max-width: 100%;
}
.frameWrapper,
.lineDiv {
  align-self: stretch;
  box-sizing: border-box;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl) 0 var(--padding-7xl);
  max-width: 100%;
}
.lineDiv {
  height: 0.9px;
  position: relative;
  border-top: 0.9px solid var(--neutral-400);
  z-index: 1;
}
.frameParent {
  width: 514.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-18xl-7);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.enterYourVirtual,
.sellersDetail {
  position: relative;
  font-family: var(--font-dm-sans);
  text-align: left;
  z-index: 1;
}
.sellersDetail {
  width: 174.7px;
  font-size: var(--font-size-xl-7);
  line-height: 31px;
  font-weight: 700;
  color: var(--neutral-800);
  display: inline-block;
}
.enterYourVirtual {
  font-size: var(--font-size-base-5);
  line-height: 26px;
  color: var(--neutral-600);
}
.sellersDetailParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mid);
  gap: var(--gap-7xs-6);
}
.shopName {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--neutral-800);
  text-align: left;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.frameChild5 {
  height: 56.9px;
  width: 244.9px;
  position: relative;
  box-shadow: 0 1.7px 5.17px rgba(19, 18, 66, 0.07);
  border-radius: 39.67px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  display: none;
}
.frameInput {
  width: 85px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-3) 0 0;
  box-sizing: border-box;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-base-5);
  color: var(--neutral-600);
}
.groupIcon {
  height: 22.3px;
  width: 17.5px;
  position: relative;
  z-index: 2;
}
.rectangleParent1 {
  align-self: stretch;
  box-shadow: 0 1.7px 5.17px rgba(19, 18, 66, 0.07);
  border-radius: 39.67px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-lgi) var(--padding-base)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.frameParent2,
.shopNameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.shopNameParent {
  align-self: stretch;
  gap: var(--gap-mini-8);
}
.frameParent2 {
  flex: 1;
  gap: var(--gap-18xl-9);
  min-width: 159px;
}
.sellersState {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--neutral-800);
  text-align: left;
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.frameChild6 {
  height: 56.9px;
  width: 244.9px;
  position: relative;
  box-shadow: 0 1.7px 5.17px rgba(19, 18, 66, 0.07);
  border-radius: 39.67px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  display: none;
}
.enterYourState {
  width: 115px;
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-base-5);
  background-color: transparent;
  height: 18px;
  position: relative;
  line-height: 17.25px;
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.groupIcon1 {
  width: 19.8px;
  height: 13.8px;
  position: relative;
  z-index: 2;
}
.groupWrapper,
.rectangleParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-9) 0 0;
}
.rectangleParent2 {
  align-self: stretch;
  box-shadow: 0 1.7px 5.17px rgba(19, 18, 66, 0.07);
  border-radius: 39.67px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mid) var(--padding-2xl) var(--padding-lgi)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.sellersStateParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini-8);
}
.frameParent1,
.frameParent3,
.sellersStateParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-18xl-9);
  min-width: 159px;
}
.frameParent1 {
  width: 514px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xl-2);
  max-width: 100%;
}
.buttonText {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 17.25px;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.primaryBtn,
.primaryBtnWrapper,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}
.primaryBtn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-9) var(--padding-14xl) var(--padding-mid-7);
  background-color: var(--color-gold-100);
  box-shadow: 0 2.6px 10.35px rgba(74, 58, 255, 0.18);
  border-radius: 48.29px;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.primaryBtn:hover {
  background-color: var(--color-darkgoldenrod-100);
}
.primaryBtnWrapper,
.rectangleParent {
  align-self: stretch;
  justify-content: flex-end;
}
.rectangleParent {
  margin: 0;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-22xl) var(--padding-smi)
    var(--padding-28xl);
  gap: var(--gap-base-6);
  max-width: 100%;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .rectangleParent {
    padding-left: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sellersDetail {
    font-size: var(--font-size-mid);
    line-height: 24px;
  }
}
