
.languageOptionElements {
  height: 29.3px;
  width: 29.3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.emptyOption {
  position: relative;
  font-size: var(--font-size-sm-8);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--background-jnt-primary-background);
  text-align: left;
  display: inline-block;
  min-width: 5px;
  z-index: 2;
}

.hiddenOption,
.languageOptionItems {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hiddenOption {
  flex-direction: column;
  padding: var(--padding-6xs-5) 0 0;
  margin-left: -17.3px;
}
.languageOptionItems {
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 0;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 34.49px;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.optionIndicator,
.rectangleGroup {
  height: 5.2px;
  border-radius: 34.49px;
}
.optionIndicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gold-100);
  width: 42.3px;
  z-index: 2;
}
.rectangleGroup {
   
  align-self: stretch;
  position: relative;
  background-color: var(--neutral-300);
  z-index: 1;
}
.languageOptionItems1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-6) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.languageOptionItemsChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div {
  position: absolute;
  top: 3.9px;
  left: 11.2px;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 2;
}
.languageOptionItems2 {
  height: 29.3px;
  width: 29.3px;
  position: relative;
}
.languageOptionItemsItem {
  align-self: stretch;
  height: 5.2px;
  position: relative;
  border-radius: 34.49px;
  background-color: var(--neutral-300);
  z-index: 1;
}
.languageOptionItems3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-6) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.languageOptionItemsInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div1 {
  position: absolute;
  top: 3.9px;
  left: 10.4px;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.languageOptionItems4 {
  height: 29.3px;
  width: 29.3px;
  position: relative;
}
.rectangleDiv {
  align-self: stretch;
  height: 5.2px;
  position: relative;
  border-radius: 34.49px;
  background-color: var(--neutral-300);
  z-index: 1;
}
.languageOptionItems5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-6) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.a,
.ellipseDiv {
  position: absolute;
}
.ellipseDiv {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.a {
  text-decoration: none;
  top: 3.9px;
  left: 10.3px;
  font-size: var(--font-size-sm-8);
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.languageOptionItems6 {
  height: 29.3px;
  width: 29.3px;
  position: relative;
}
.languageOptionList {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-5);
  max-width: 100%;
}
.dropdownDivider,
.languageOptions {
  align-self: stretch;
  box-sizing: border-box;
}
.languageOptions {
  /* border: solid red 5px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl) 0 var(--padding-7xl);
  max-width: 100%;
}
.dropdownDivider {
  height: 0.9px;
  position: relative;
  border-top: 0.9px solid var(--neutral-400);
  z-index: 1;
}
.languageDropdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.languageInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) var(--padding-mid-9) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.languageSelection,
.selectLanguageYou {
   margin-left: 5%;
  position: relative;
  font-family: var(--font-dm-sans);
  text-align: left;
  z-index: 1;
}
.selectLanguageYou{
    /* border: solid red 5px; */
    margin-left: 5% !important;
    margin-bottom: 10px !important;
}
.languageSelection {
  text-decoration: none;
  width: 227px;
  font-size: var(--font-size-xl-7);
  line-height: 31px;
  font-weight: 700;
  color: var(--neutral-800);
  display: inline-block;
}
.selectLanguageYou {
  margin: 0;
  font-size: var(--font-size-base-5);
  line-height: 26px;
  color: var(--neutral-600);
}
.selectionInstructions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs-6);
  box-sizing: border-box;
  max-width: 100%;
}
.searchicon {
  width: 16px;
  height: 16px;
  position: relative;
}
.searchField {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .searchBar {
    flex: 1; /* Take up remaining space */
    background-color: inherit;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    width: 25%;
  }
  
  .searchicon {
    margin-right: 8px; /* Adjust margin as needed */
  }
    /* Additional styling for placeholder text */
    .searchBar::placeholder {
      color: #000; /* Placeholder text color */
    }

  
.language,
.search {
  color: var(--color-gray-100);
}
.placeholder {
  position: relative;
  font-size: var(--primarytext-size);
  line-height: 130%;
  font-family: var(--label-1-regular);
  text-align: left;
  display: inline-block;
  min-width: 116px;
}

.selectItem {
    /* border: solid red 5px; */
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-gold-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  position: relative;
  gap: var(--gap-5xs);
  z-index: 1;
}
/* .dropdownContainer,
.labelafter,
.selectItem {
    
  box-sizing: border-box;
  max-width: 100%;
} */

.dropdownContainer {
    /* border: solid red 5px; */
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) var(--padding-6xs-8) var(--padding-15xl);
  }
  
  .productInput {
    /* border: solid 5px red; */
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    align-items: stretch; /* Allow items to stretch to full width */
    justify-content: flex-start;
    padding: 0 var(--padding-5xl) 0 var(--padding-7xl);
    max-width: 100%;
  }
  
  .label,
  .label1,
  .label3 {
    padding-left: 15px;
    width: 100%;
    border: 1.7px solid var(--color-gainsboro-200);
    align-self: flex-start;
    height: 45.2px;
    border-radius: 13.64px;
    background-color: var(--background-jnt-primary-background);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-318xl-8);
    flex-shrink: 0;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    /* Added text color to ensure visibility */
    color: var(--color-black); /* Adjust as needed */
  }
  
  .label:hover,
  .label1:hover,
  .label2:hover,
  .label3:hover {
    background-color: var(--background-jnt-primary-background); /* Set to same as normal state */
  }
  
  .label2 {
    color: #FCBD01;
    border-radius: 6.82px;
    border: 1.7px solid var(--color-gold-100);
  }
  
  .svgIcon {
    width: 20.9px;
    height: 20.9px;
    position: absolute;
    right: 10px;
  }
  
  .frameChild {
    width: 618.5px;
    height: 537px;
    position: relative;
    box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
    border-radius: 30.13px;
    background-color: var(--background-jnt-primary-background);
    border: 0.9px solid var(--neutral-300);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
    overflow: hidden; /* Prevent overflow */
  }
  
  .languageToggleOptions {
    /* border: solid red 5px; */
    height: 160px;
    width: 494px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 var(--padding-12xs-6) 0;
    position: relative;
    max-width: 100%;
  }
  
  .languageToggles {
    /* border: solid 5px red; */
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-13xl);
  }
  
  .selected {
    border-color: var(--color-selected-border);
    background-color: var(--background-selected);
  }
  
  .buttonText {
    position: relative;
    font-size: var(--font-size-base-5);
    line-height: 17.25px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    min-width: 74px;
  }
.primaryBtn,
.rectangleParent {
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}
.primaryBtn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-9) var(--padding-14xl) var(--padding-mid-7);
  background-color: var(--color-gold-100);
  box-shadow: 0 2.6px 10.35px rgba(74, 58, 255, 0.18);
  border-radius: 48.29px;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.primaryBtn:hover {
  background-color: var(--color-darkgoldenrod-100);
}
.rectangleParent {
  margin: 0;
  width: 618.5px;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-8xl) var(--padding-38xl) var(--padding-smi)
    var(--padding-11xl);
  gap: var(--gap-17xl-8);
  max-width: 100%;
}
@media screen and (max-width: 750px) {
  .languageOptionList {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: var(--gap-lg);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
    .languageOptions,
    .selectionInstructions {
      text-align: center;
    }
  
    .languageSelection {
     /* border: solid red 5px; */
     text-align: center;
     margin: 2%;
      margin: auto; /* Center align */
      font-size: 20px; /* Adjust font size as needed */
      width: 100%; /* Take up full width */
    }
  
    .selectLanguageYou {
        text-align: center;
     margin: 2%;
      width: 100%; /* Take up full width */
      padding: 0;
      font-size: 16px; /* Adjust font size as needed */
    }
  }

  @media screen and (max-width: 600px) {
    .languageSelection{
          margin-left: 10% !important;
     }
     .selectLanguageYou{
        margin-left: 16% !important;
     }
  }
  
