.frameChild {
  width: 619px;
  height: 643px;
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div,
.frameChild,
.frameItem {
  position: relative;
}
.frameItem {
  height: 29.5px;
  width: 29.5px;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.div {
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 5px;
  z-index: 2;
}
.ellipseParent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  margin-left: -17.4px;
}
.ellipseParent {
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
}
.frameInner {
  align-self: stretch;
  height: 5.2px;
  position: relative;
  border-radius: 34.69px;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.rectangleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-7) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.ellipseDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div1 {
  position: absolute;
  top: 7px;
  left: 11.2px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.ellipseGroup {
  height: 29.5px;
  width: 29.5px;
  position: relative;
}
.rectangleDiv,
.rectangleIcon {
  height: 5.2px;
  position: relative;
  border-radius: 34.69px;
}
.rectangleDiv {
  width: 85.1px;
  background-color: var(--color-gold-100);
  display: none;
}
.rectangleIcon {
  width: 42.5px;
  z-index: 2;
}
.frameContainer,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: 34.69px;
  background-color: var(--color-gold-100);
  flex-direction: row;
  z-index: 1;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs-7) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.ellipseIcon {
  height: 29.5px;
  width: 29.5px;
  position: relative;
  z-index: 1;
}
.div2 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.container,
.vectorParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: column;
  padding: var(--padding-7xs-2) 0 0;
  margin-left: -19.1px;
}
.vectorParent {
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
}
.frameChild1 {
  align-self: stretch;
  height: 5.2px;
  position: relative;
  border-radius: 34.69px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.vectorWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-7) 0 0;
  box-sizing: border-box;
  min-width: 55px;
}
.a,
.frameChild2 {
  position: relative;
}
.frameChild2 {
  height: 29.5px;
  width: 29.5px;
  z-index: 1;
}
.a {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.frame,
.frameParent,
.frameWrapper,
.vectorGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: column;
  padding: var(--padding-7xs-2) 0 0;
  margin-left: -19.1px;
}
.frameParent,
.frameWrapper,
.vectorGroup {
  flex-direction: row;
}
.vectorGroup {
  padding: 0 var(--padding-3xs) 0 0;
}
.frameParent,
.frameWrapper {
  max-width: 100%;
}
.frameParent {
  flex: 1;
  gap: 15.6px;
}
.frameWrapper {
  align-self: stretch;
  padding: 0 var(--padding-15xl) 0 var(--padding-9xl);
  box-sizing: border-box;
  color: var(--background-jnt-primary-background);
}
.lineDiv,
.productDetails {
  position: relative;
  z-index: 1;
}
.lineDiv {
  width: 515px;
  height: 0.9px;
  border-top: 0.9px solid var(--neutral-400);
  box-sizing: border-box;
  max-width: 100%;
}
.productDetails {
  width: 174.7px;
  line-height: 31px;
  font-weight: 700;
  display: inline-block;
}
.enterDetailsOf {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 26px;
  color: var(--neutral-600);
  z-index: 1;
}
.productDetailsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs-5);
  gap: var(--gap-7xs-6);
  font-size: var(--font-size-xl-7);
}
.productImages {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.wrapperRectangle4509Child {
  height: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.2);
}
.wrapperRectangle4509 {
  height: 150px;
  flex: 1;
  position: relative;
  border-radius: 30.13px;
  max-width: 100%;
  min-width: 92px;
  min-height: 150px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperRectangle4510Child {
  height: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.2);
}
.wrapperRectangle4510 {
  height: 150px;
  flex: 1;
  position: relative;
  border-radius: 30.13px;
  max-width: 100%;
  min-width: 92px;
  min-height: 150px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperRectangle4509Parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.wrapperRectangle4512Child {
  height: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.2);
}
.wrapperRectangle4512 {
  height: 150px;
  flex: 1;
  position: relative;
  border-radius: 30.13px;
  max-width: 100%;
  min-width: 92px;
  min-height: 150px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameChild3,
.rectangleContainer {
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  border: 2px solid var(--color-gold-100);
  box-sizing: border-box;
}
.frameChild3 {
  height: 150px;
  width: 142px;
  position: relative;
  display: none;
}
.rectangleContainer {
  flex: 0.4014;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-21xl) var(--padding-24xl)
    var(--padding-22xl);
  min-width: 92px;
  z-index: 3;
}
.wrapperRectangle4512Parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xl);
}
.frameParent1,
.frameWrapper1,
.wrapperRectangle4512Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frameWrapper1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
}
.buttonText {
  position: relative;
  font-size: var(--font-size-base-2);
  line-height: 18px;
  font-family: var(--font-dm-sans);
  color: var(--color-goldenrod-100);
  text-align: center;
  display: inline-block;
  min-width: 101px;
}
.frameDiv,
.secondaryBtn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondaryBtn {
  cursor: pointer;
  border: 0.9px solid var(--color-goldenrod-100);
  padding: var(--padding-base) var(--padding-15xl) var(--padding-lg)
    var(--padding-17xl);
  background-color: transparent;
  border-radius: 59.33px;
  flex-direction: row;
  z-index: 1;
}
.secondaryBtn:hover {
  background-color: var(--color-darkgoldenrod-300);
  border: 0.9px solid var(--color-darkgoldenrod-200);
  box-sizing: border-box;
}
.frameDiv {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  min-width: 202px;
}
.wrapperRectangle4511Child {
  width: 100%;
  flex: 1;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.2);
}
.wrapperRectangle4511 {
  width: 142px;
  flex: 1;
  position: relative;
  border-radius: 30.13px;
  max-height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonText1 {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 17.25px;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.primaryBtn,
.primaryBtnWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.primaryBtn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-9) var(--padding-14xl) var(--padding-mid-7);
  background-color: var(--color-gold-100);
  box-shadow: 0 2.6px 10.35px rgba(74, 58, 255, 0.18);
  border-radius: 48.29px;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.primaryBtn:hover {
  background-color: var(--color-darkgoldenrod-100);
}
.primaryBtnWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.frameGroup,
.rectangleParent,
.wrapperRectangle4511Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapperRectangle4511Parent {
  height: 384.4px;
  width: 198px;
  flex-direction: column;
  gap: var(--gap-162xl-8);
  min-width: 198px;
}
.frameGroup,
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi);
}
.rectangleParent {
  box-shadow: 0 4.4px 14.18px rgba(8, 15, 52, 0.06);
  border-radius: 30.13px;
  background-color: var(--background-jnt-primary-background);
  border: 0.9px solid var(--neutral-300);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-12xl) var(--padding-23xl) var(--padding-base)
    var(--padding-27xl);
  gap: var(--gap-3xl-3);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm-9);
  color: var(--neutral-800);
  font-family: var(--font-dm-sans);
}
@media screen and (max-width: 900px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .frameParent1,
  .wrapperRectangle4511Parent {
    flex: 1;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .rectangleParent {
    padding: var(--padding-xl) var(--padding-2xl) var(--padding-xl)
      var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .productDetails {
    font-size: var(--font-size-mid);
    line-height: 24px;
  }
  .wrapperRectangle4509Parent {
    flex-wrap: wrap;
  }
  .rectangleContainer {
    flex: 1;
  }
  .wrapperRectangle4512Parent {
    flex-wrap: wrap;
  }
}
