.productLinguisticSathi {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.linguisticIllustrationContenChild {
  height: 268px;
  width: 1016px;
  position: relative;
  box-shadow: 5.7px 5.7px 51.63px rgba(0, 0, 0, 0.05);
  border-radius: 13.38px;
  background-color: var(--color-khaki);
  display: none;
  max-width: 100%;
}
.backgroundCompleteIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.speechBubble1Icon {
  height: 22.4px;
  width: 22.4px;
  position: relative;
  z-index: 3;
}
.groupIcon,
.groupIcon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1 {
  z-index: 1;
}
.placeholder {
  position: relative;
  display: inline-block;
  min-width: 2px;
  z-index: 2;
}
.groupInner,
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.groupParent {
  flex: 1;
  padding: var(--padding-8xs-6) var(--padding-9xs) var(--padding-smi-7);
  position: relative;
}
.groupInner {
  align-self: stretch;
  padding: 0 var(--padding-smi) 0 var(--padding-lg);
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.6px;
  height: 3px;
  z-index: 1;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3 {
  left: 41.8px;
  width: 8.8px;
}
.vectorIcon2,
.vectorIcon3 {
  top: 6.5px;
  left: 0;
  width: 29.3px;
}
.vectorIcon3 {
  left: 41.8px;
  width: 8.8px;
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  position: absolute;
  top: 12.9px;
  left: 0;
  width: 13.7px;
  height: 3px;
  z-index: 1;
}
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  left: 41.8px;
  width: 8.8px;
}
.vectorIcon6,
.vectorIcon7 {
  top: 19px;
}
.vectorIcon7 {
  top: 29.7px;
  left: 11.5px;
  width: 25.9px;
  height: 10px;
}
.vectorParent {
  width: 50.6px;
  height: 39.7px;
  position: relative;
}
.group,
.groupWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-mid) var(--padding-2xs) var(--padding-4xs-3);
  position: relative;
  gap: var(--gap-7xs-9);
  z-index: 5;
}
.groupWrapper {
  width: 73.9px;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.floorIcon {
  position: absolute;
  top: 132px;
  left: 15.1px;
  width: 323.6px;
  height: 0.3px;
  z-index: 2;
}
.character1Icon,
.plantIcon {
  position: absolute;
  top: 62.8px;
  left: 0;
  width: 40.3px;
  height: 70.1px;
  z-index: 3;
}
.character1Icon {
  top: 0;
  left: 30.2px;
  width: 33.8px;
  height: 145.1px;
  z-index: 7;
}
.bottomElements {
  height: 145.1px;
  width: 338.7px;
  position: absolute;
  margin: 0 !important;
  bottom: -42px;
  left: -4.3px;
}
.illustration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl-3) var(--padding-9xs) var(--padding-10xl-7);
  position: relative;
  gap: var(--gap-178xl-9);
}
.illustrationElements {
  width: 349.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mid-7);
  box-sizing: border-box;
  min-width: 349.9px;
  max-width: 100%;
}
.listYourProduct {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.chatListChild {
  height: 47.3px;
  width: 181.3px;
  position: relative;
  border-radius: 8.47px;
  background-color: var(--color-powderblue);
  display: none;
}
.startNow {
  position: relative;
  font-size: var(--font-size-lg-7);
  line-height: 17px;
  font-weight: 700;
  font-family: var(--label-1-regular);
  color: var(--color-teal);
  text-align: left;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.startNowWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.communicationPaperPlane {
  height: 31px;
  width: 31px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.chatList {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-lg) var(--padding-4xs-3)
    var(--padding-5xl);
  background-color: var(--color-powderblue);
  border-radius: 8.47px;
  flex-direction: row;
  gap: var(--gap-2xs);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.chatList,
.linguisticCTA,
.linguisticDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.linguisticCTA {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.linguisticDescription {
  width: 291px;
  flex-direction: column;
  gap: var(--gap-smi);
  min-width: 291px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--subheading-3-medium);
}
.linguisticIllustrationConten {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5.7px 5.7px 51.63px rgba(0, 0, 0, 0.05);
  border-radius: 13.38px;
  background-color: var(--color-khaki);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) var(--padding-40xl) var(--padding-49xl-7);
  box-sizing: border-box;
  gap: var(--gap-138xl-2);
  max-width: 100%;
}
.purchaseIcon,
.unionIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.purchaseIcon {
  top: 162.8px;
  left: 185.3px;
  width: 43.7px;
  height: 36.8px;
  z-index: 3;
}
.shoppingBasketIcon {
  position: absolute;
  top: 182.2px;
  left: 71.4px;
  width: 41.2px;
  height: 33.5px;
  z-index: 5;
}
.bags0000014937409338798068369Icon {
  position: absolute;
  top: 189.4px;
  left: 17.1px;
  width: 188.6px;
  height: 41.2px;
  z-index: 6;
}
.deviceIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.speechBubble2Icon {
  position: absolute;
  top: 109.6px;
  left: 98.3px;
  width: 22.4px;
  height: 22.4px;
  z-index: 5;
}
.deviceChat {
  position: absolute;
  top: 30.5px;
  left: 17.8px;
  width: 201.5px;
  height: 169.2px;
}
.character2Icon,
.character3Icon {
  position: absolute;
  top: 71.5px;
  left: 232.5px;
  width: 80.1px;
  height: 150.6px;
  z-index: 6;
}
.character2Icon {
  top: 142.5px;
  left: 122.6px;
  width: 62.3px;
  height: 97.6px;
  z-index: 7;
}
.shoppers {
  height: 271.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.shoppersWrapper {
  position: absolute;
  top: 11px;
  left: 102px;
  width: 407px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.linguisticIllustrationContenParent {
  height: 282.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.linguisticIllustration,
.productLinguisticContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.linguisticIllustration {
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xl);
  box-sizing: border-box;
  font-size: var(--font-size-10xs-8);
  color: var(--color-gold-100);
  font-family: var(--label-1-regular);
}
.productLinguisticContainer {
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--subheading-3-medium);
}
@media screen and (max-width: 1125px) {
  .illustrationElements,
  .linguisticDescription {
    flex: 1;
  }
  .linguisticIllustrationConten {
    flex-wrap: wrap;
    gap: var(--gap-60xl);
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .linguisticIllustrationContenParent {
    height: auto;
    min-height: 282.29999999999995;
  }
}
@media screen and (max-width: 800px) {
  .illustrationElements {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .productLinguisticSathi {
    font-size: var(--font-size-3xl);
  }
  .illustration {
    gap: var(--gap-80xl);
  }
  .listYourProduct {
    font-size: var(--font-size-lgi);
  }
  .linguisticIllustrationConten {
    gap: var(--gap-20xl);
  }
}
