.background {
  align-self: stretch;
  height: 960px;
  position: relative;
  backdrop-filter: blur(80px);
  background-color: var(--color-gray-500);
  display: none;
}
.pad,
.par {
  color: var(--color-gold-100);
}
.vyaparLaunchpad {
  height: 34px;
  width: 263px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  z-index: 1;
}
.frameChild {
  width: 4.3px;
  height: 4.3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.ellipseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.vyaparLaunchpadContainer,
.vyaparLaunchpadParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vyaparLaunchpadParent {
  gap: var(--gap-12xs-7);
}
.vyaparLaunchpadContainer {
  padding: 0 var(--padding-sm) 0 var(--padding-13xl);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
}
.menu {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.secondaryScores {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 44px;
}
.homeLink,
.navigationLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.navigationLinks {
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-4xl) var(--padding-10xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
}
.vuesaxlineardirectSendIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.product {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.productLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.iconamoonarrowDown2Bold {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.productNavigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
  color: var(--color-darkslateblue-100);
}
.navigationItemContainer,
.navigationLinksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigationLinksParent {
  gap: var(--gap-11xl-5);
}
.navigationItemContainer {
  padding: var(--padding-6xs-5) 0 0;
}
.separator {
  height: 35px;
  width: 5px;
  position: relative;
  box-shadow: -2px 0 10px 2px rgba(0, 56, 255, 0.08);
  border-radius: var(--br-31xl);
  background-color: var(--color-gold-100);
  z-index: 1;
}
.navigationItems {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.vuesaxlinearbookIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.addProduct {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.productManagementLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.navigationLinksContainer,
.vuesaxlinearbookParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlinearbookParent {
  gap: var(--gap-xs);
}
.navigationLinksContainer {
  padding: 0 var(--padding-47xl);
}
.vuesaxlinearbookIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.productList {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.productListWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.navigationLinksContainer1,
.vuesaxlinearbookGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlinearbookGroup {
  gap: var(--gap-xs);
}
.navigationLinksContainer1 {
  padding: 0 var(--padding-47xl);
}
.vuesaxlinearbookIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.dashboardAnalytics {
  position: relative;
  letter-spacing: 1px;
  z-index: 1;
}
.dashboardAnalyticsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.navigationLinksContainer2,
.vuesaxlinearbookContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlinearbookContainer {
  gap: var(--gap-7xs);
}
.navigationLinksContainer2 {
  padding: 0 var(--padding-13xl) var(--padding-2xs);
}
.navigationLinksContainerChild {
  height: 0.4px;
  flex: 1;
  position: relative;
  border-top: 0.4px solid var(--color-darkgray);
  box-sizing: border-box;
  z-index: 1;
}
.navigationLinksContainer3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs-6);
}
.vuesaxlinearlink2Icon {
  height: 24px;
  width: 24px;
  position: relative;
  mix-blend-mode: normal;
  min-height: 24px;
  z-index: 1;
}
.integration {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.integrationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.navigationLinksContainer4,
.vuesaxlinearlink2Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlinearlink2Parent {
  gap: var(--gap-6xs);
}
.navigationLinksContainer4 {
  padding: 0 var(--padding-13xl) var(--padding-8xs);
}
.multiUserIcon,
.team {
  position: relative;
  z-index: 1;
}
.multiUserIcon {
  height: 24px;
  width: 24px;
}
.team {
  height: 11px;
  display: inline-block;
  min-width: 40px;
}
.multiUserParent,
.navigationLinksContainer5,
.teamWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teamWrapper {
  flex-direction: column;
  padding: var(--padding-6xs-5) 0 0;
}
.multiUserParent,
.navigationLinksContainer5 {
  flex-direction: row;
}
.multiUserParent {
  gap: var(--gap-2xs);
}
.navigationLinksContainer5 {
  padding: 0 var(--padding-13xl) var(--padding-8xs);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.questionMark {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.supportHelp {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.support,
.supportIconContainer,
.supportLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.supportLabel {
  flex-direction: column;
  padding: var(--padding-6xs-5) 0 0;
}
.support,
.supportIconContainer {
  flex-direction: row;
}
.supportIconContainer {
  gap: var(--gap-2xs);
}
.support {
  padding: 0 var(--padding-13xl) var(--padding-xs);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.navigationLinksContainerItem {
  height: 0.4px;
  flex: 1;
  position: relative;
  border-top: 0.4px solid var(--color-darkgray);
  box-sizing: border-box;
  z-index: 1;
}
.navigationLinksContainer6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs-6);
}
.general1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.general {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) var(--padding-mini);
  color: var(--secondary-color);
}
.secondaryCategories {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
  z-index: 1;
}
.settings {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 62px;
  z-index: 1;
}
.settingsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.navigationLinksContainer7,
.secondaryCategoriesParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondaryCategoriesParent {
  gap: var(--gap-7xs);
}
.navigationLinksContainer7 {
  padding: 0 var(--padding-13xl) var(--padding-mini);
}
.secondaryCategories1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
  z-index: 1;
}
.subscription {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.subscriptionLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.bg,
.new1 {
  position: relative;
}
.bg {
  height: 15px;
  width: 30px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color);
  display: none;
}
.new1 {
  letter-spacing: 0.5px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
  z-index: 1;
}
.new,
.newContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.new {
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-10xs) var(--padding-10xs)
    var(--padding-7xs);
  z-index: 1;
}
.newContainer {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
  font-size: var(--font-size-5xs);
  color: var(--background-jnt-primary-background);
}
.categoriesSubscription,
.secondaryCategoriesGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondaryCategoriesGroup {
  gap: var(--gap-4xs-5);
}
.categoriesSubscription {
  padding: 0 var(--padding-13xl) var(--padding-mini);
}
.secondaryAllGames {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
  z-index: 1;
}
.logOut {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.logoutLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.logoutContainer,
.secondaryAllGamesParent {
  flex-direction: row;
  justify-content: flex-start;
}
.secondaryAllGamesParent {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.logoutContainer {
  padding: 0 var(--padding-13xl);
}
.content,
.contentHeader,
.logoutContainer {
  display: flex;
  align-items: flex-start;
}
.contentHeader {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  color: var(--color-darkslateblue-100);
}
.menuContainer,
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation {
  align-items: flex-end;
  gap: var(--gap-lg);
  color: var(--color-gold-100);
}
.menuContainer {
  align-items: flex-start;
  padding: 0 0 var(--padding-44xl);
  gap: var(--gap-5xl);
  font-size: var(--font-size-mini);
}
.legalPrivacyCookiePolic {
  display: block;
}
.language {
  color: var(--color-mediumblue);
}
.span {
  color: var(--secondary-color);
}
.languageEnglishUs {
  display: block;
  color: var(--color-gray-400);
}
.legalPrivacyContainer {
  margin: 0;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  z-index: 1;
}
.footer,
.sideBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  font-size: var(--primarytext-size);
}
.sideBar {
  width: 314px;
  backdrop-filter: blur(80px);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-mediumslateblue-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-23xl);
  gap: var(--gap-67xl);
  text-align: left;
  font-size: var(--font-size-10xl-9);
  color: var(--secondary-color);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1125px) {
  .sideBar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .menuContainer,
  .sideBar {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .sideBar {
    padding-bottom: var(--padding-xl);
  }
}
@media screen and (max-width: 450px) {
  .vyaparLaunchpad {
    font-size: var(--font-size-5xl);
  }
  .navigationLinksContainer,
  .navigationLinksContainer1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sideBar {
    gap: var(--gap-24xl);
  }
}
