.background {
  align-self: stretch;
  height: 960px;
  position: relative;
  backdrop-filter: blur(80px);
  background-color: var(--color-gray-500);
  display: none;
}
.pad,
.par {
  color: var(--color-gold-100);
}
.vyaparLaunchpad {
  text-decoration: none;
  height: 34px;
  width: 263px;
  position: relative;
  line-height: 35px;
  font-weight: 700;
  display: inline-block;
  z-index: 1;
  color: inherit;
}
.productList {
  width: 4.3px;
  height: 4.3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.productListWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.vyaparLaunchpadContainer,
.vyaparLaunchpadContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vyaparLaunchpadContainer {
  gap: var(--gap-12xs-7);
}
.vyaparLaunchpadContainerWrapper {
  padding: 0 var(--padding-sm) 0 var(--padding-13xl);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
}
.menu {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.menuContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.secondaryScores {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 44px;
}
.cart,
.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.cart {
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-4xl) var(--padding-10xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
}
.vuesaxlineardirectSendIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.product {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.productWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.iconamoonarrowDown2Bold {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.productNavigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
  color: var(--color-darkslateblue-100);
}
.navigationContainer,
.navigationContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigationContainer {
  gap: var(--gap-11xl-5);
}
.navigationContainerWrapper {
  padding: var(--padding-6xs-5) 0 0;
}
.scoresContainerChild {
  height: 35px;
  width: 5px;
  position: relative;
  box-shadow: -2px 0 10px 2px rgba(0, 56, 255, 0.08);
  border-radius: var(--br-31xl);
  background-color: var(--color-gold-100);
  z-index: 1;
}
.scoresContainer {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.vuesaxlinearbookIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.addProduct {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.categories,
.categoryItems,
.categoryLabels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categoryLabels {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.categories,
.categoryItems {
  flex-direction: row;
}
.categoryItems {
  gap: var(--gap-xs);
}
.categories {
  padding: 0 var(--padding-47xl);
}
.vuesaxlinearbookIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.productList1 {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.categories1,
.productListContainer,
.vuesaxlinearbookParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.productListContainer {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.categories1,
.vuesaxlinearbookParent {
  flex-direction: row;
}
.vuesaxlinearbookParent {
  gap: var(--gap-xs);
}
.categories1 {
  padding: 0 var(--padding-47xl);
}
.vuesaxlinearbookIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.dashboardAnalytics {
  position: relative;
  letter-spacing: 1px;
  z-index: 1;
}
.dashboardAnalyticsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.categories2,
.vuesaxlinearbookGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlinearbookGroup {
  gap: var(--gap-7xs);
}
.categories2 {
  padding: 0 var(--padding-13xl) var(--padding-2xs);
}
.categoriesChild {
  height: 0.4px;
  flex: 1;
  position: relative;
  border-top: 0.4px solid var(--color-darkgray);
  box-sizing: border-box;
  z-index: 1;
}
.categories3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs-6);
}
.vuesaxlinearlink2Icon {
  height: 24px;
  width: 24px;
  position: relative;
  mix-blend-mode: normal;
  min-height: 24px;
  z-index: 1;
}
.integration {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.categories4,
.integrationWrapper,
.vuesaxlinearlink2Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.integrationWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.categories4,
.vuesaxlinearlink2Parent {
  flex-direction: row;
}
.vuesaxlinearlink2Parent {
  gap: var(--gap-6xs);
}
.categories4 {
  padding: 0 var(--padding-13xl) var(--padding-8xs);
}
.multiUserIcon,
.team {
  position: relative;
  z-index: 1;
}
.multiUserIcon {
  height: 24px;
  width: 24px;
}
.team {
  height: 11px;
  display: inline-block;
  min-width: 40px;
}
.categories5,
.multiUserParent,
.teamWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teamWrapper {
  flex-direction: column;
  padding: var(--padding-6xs-5) 0 0;
}
.categories5,
.multiUserParent {
  flex-direction: row;
}
.multiUserParent {
  gap: var(--gap-2xs);
}
.categories5 {
  padding: 0 var(--padding-13xl) var(--padding-8xs);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.questionMark {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.supportHelp {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.supportHelpWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.supportContainer,
.supportContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.supportContainer {
  gap: var(--gap-2xs);
}
.supportContainerWrapper {
  padding: 0 var(--padding-13xl) var(--padding-xs);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.categoriesItem {
  height: 0.4px;
  flex: 1;
  position: relative;
  border-top: 0.4px solid var(--color-darkgray);
  box-sizing: border-box;
  z-index: 1;
}
.categories6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs-6);
}
.general {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.generalWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) var(--padding-mini);
  color: var(--secondary-color);
}
.secondaryCategories {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
  z-index: 1;
}
.settings {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  color: inherit;
  display: inline-block;
  min-width: 62px;
  z-index: 1;
}
.categories7,
.secondaryCategoriesParent,
.settingsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.settingsWrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.categories7,
.secondaryCategoriesParent {
  flex-direction: row;
}
.secondaryCategoriesParent {
  gap: var(--gap-7xs);
}
.categories7 {
  padding: 0 var(--padding-13xl) var(--padding-mini);
}
.secondaryCategories1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
  z-index: 1;
}
.subscription {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.subscriptionLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.bg,
.new1 {
  position: relative;
}
.bg {
  height: 15px;
  width: 30px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color);
  display: none;
}
.new1 {
  letter-spacing: 0.5px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
  z-index: 1;
}
.new,
.newWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.new {
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-10xs) var(--padding-10xs)
    var(--padding-7xs);
  z-index: 1;
}
.newWrapper {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
  font-size: var(--font-size-5xs);
  color: var(--background-jnt-primary-background);
}
.subscriptionContainer,
.subscriptionContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscriptionContainer {
  gap: var(--gap-4xs-5);
}
.subscriptionContainerWrapper {
  padding: 0 var(--padding-13xl) var(--padding-mini);
}
.secondaryAllGames {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
  z-index: 1;
}
.logOut {
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.logoutLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.logoutContainer {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.categoriesContainer,
.logoutContainer,
.logoutContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoutContainerWrapper {
  flex-direction: row;
  padding: 0 var(--padding-13xl);
}
.categoriesContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
}
.categoriesContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  color: var(--color-darkslateblue-100);
}
.menuContainerParent,
.scoresContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.scoresContainerParent {
  align-items: flex-end;
  gap: var(--gap-lg);
  color: var(--color-gold-100);
}
.menuContainerParent {
  align-items: flex-start;
  padding: 0 0 var(--padding-44xl);
  gap: var(--gap-5xl);
  font-size: var(--font-size-mini);
}
.legalPrivacyCookiePolic {
  display: block;
}
.language {
  color: var(--color-mediumblue);
}
.span {
  color: var(--secondary-color);
}
.languageEnglishUs {
  display: block;
  color: var(--color-gray-400);
}
.legalPrivacyContainer {
  margin: 0;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  z-index: 1;
}
.footer,
.sideBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  font-size: var(--primarytext-size);
}
.sideBar {
  width: 314px;
  backdrop-filter: blur(80px);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-mediumslateblue-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-23xl);
  gap: var(--gap-67xl);
  text-align: left;
  font-size: var(--font-size-10xl-9);
  color: var(--secondary-color);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1125px) {
  .sideBar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .menuContainerParent,
  .sideBar {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .sideBar {
    padding-bottom: var(--padding-xl);
  }
}
@media screen and (max-width: 450px) {
  .vyaparLaunchpad {
    font-size: var(--font-size-5xl);
  }
  .categories,
  .categories1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sideBar {
    gap: var(--gap-24xl);
  }
}
